<!DOCTYPE html>
 <html>
 <head>
 	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<title>FraseApp</title>

    <!-- Libs -->
    <script src="app/libs/angular.min.js"></script>

    <!-- App -->
 	<script src="app/app.js"></script>

    <!-- Controllers App -->
    <script src="app/controllers/homeController.js"></script>

    <!-- Services App -->
    <script src="app/services/ajaxService.js"></script>

 </head>

 <body ng-app="fraseApp" ng-controller="homeController">

    <h3>PBI - 1</h3>
    <button ng-click="dummy()">Get - PBI - 1</button>
    <blockquote>{{ data.dummyResponse }}</blockquote>

    <h3>PBI - 2</h3>

    <label for="frase">Nueva Frase:</label>
    <br />
    <textarea placeholder="Introduce una nueva frase" ng-model="model.frase" id="frase" required></textarea> 

    <br />
    <button ng-click="insertFrase()">PBI - 2</button>

    <h3>PBI - 3</h3>
    <button ng-click="getAll()">Get All - PBI - 3</button>
    <ul>
        <li ng-repeat="fraseObj in data.fraseList">{{ fraseObj.frase }}</li>
    </ul>

 </body>

 </html>