<!DOCTYPE html>
 <html>
 <head>
 	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<title>FraseApp</title>

    <!-- Libs -->
    <script src="app/libs/angular.min.js"></script>

    <!-- App -->
 	<script src="app/app.js"></script>

    <!-- Controllers App -->
    <script src="app/controllers/homeController.js"></script>

    <!-- Services App -->
    <script src="app/services/ajaxService.js"></script>

 </head>

 <body ng-app="fraseApp" ng-controller="homeController">

    <h3>PBI - 1</h3>
    <button ng-click="dummy()">Get - PBI - 1</button>
    <blockquote>{{ data.dummyResponse }}</blockquote>

    <h3>PBI - 2</h3>

    <label for="frase">Nueva Frase:</label>
    <br />
    <textarea placeholder="Introduce una nueva frase" ng-model="model.frase" id="frase"></textarea> 

    <br />
    <button ng-click="insertFrase()">PBI - 2</button>

    <h3>PBI - 3, 4, 5</h3>
    <button ng-click="getAll()">Get All - Get By Id - Marcar Favoritos</button>
    <ul>
        <li ng-repeat="fraseObj in data.fraseList">
            {{ fraseFormated(fraseObj) + "-" + fraseObj.favorita }}
            <button ng-click="getById(fraseObj.id)">Get</button>
            <button ng-click="markAsFavorita(fraseObj.id)"><span ng-if="fraseObj.favorita">ELIMINAR</span><span ng-if="!fraseObj.favorita">MARCAR COMO</span> favorita</button>
        </li>
    </ul><br />

    <h3>PBI - 4</h3>
    <span ng-if="!data.fraseObj">Para obtener una sola frase, ejecutar el GET de la lista o rellena el siguiente formulario para obtenerla a partir del id</span><br />
    <blockquote ng-if="data.fraseObj">{{ fraseFormated(data.fraseObj) }}</blockquote>

    <button ng-click="getById(data.id)">Get - PBI - 4</button><br />
    <label for="frase_id">Id</label>:<input type="number" ng-model="data.id" />

 </body>

 </html>